<?xml version="1.0"?>
<config>
    <modules>
        <VS7_EmailCoupon>
            <version>0.1.0</version>
        </VS7_EmailCoupon>
    </modules>
    <frontend>
        <translate>
            <modules>
                <VS7_EmailCoupon>
                    <files>
                        <default>VS7_EmailCoupon.csv</default>
                    </files>
                </VS7_EmailCoupon>
            </modules>
        </translate>
        <routers>
            <vs7_emailcoupon>
                <use>standard</use>
                <args>
                    <module>VS7_EmailCoupon</module>
                    <frontName>emailcoupon</frontName>
                </args>
            </vs7_emailcoupon>
        </routers>
        <layout>
            <updates>
                <vs7_emailcoupon>
                    <file>vs7_emailcoupon.xml</file>
                </vs7_emailcoupon>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <vs7_emailcoupon>
                <class>VS7_EmailCoupon_Block</class>
            </vs7_emailcoupon>
        </blocks>
        <models>
            <vs7_emailcoupon>
                <class>VS7_EmailCoupon_Model</class>
                <resourceModel>vs7_emailcoupon_resource</resourceModel>
            </vs7_emailcoupon>
            <vs7_emailcoupon_resource>
                <class>VS7_EmailCoupon_Model_Resource</class>
                <entities>
                    <customer>
                        <table>vs7_emailcoupon</table>
                    </customer>
                </entities>
            </vs7_emailcoupon_resource>
        </models>
        <resources>
            <vs7_emailcoupon_setup>
                <setup>
                    <module>VS7_EmailCoupon</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vs7_emailcoupon_setup>
            <vs7_emailcoupon_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vs7_emailcoupon_write>
            <vs7_emailcoupon_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vs7_emailcoupon_read>
        </resources>
        <helpers>
            <vs7_emailcoupon>
                <class>VS7_EmailCoupon_Helper</class>
            </vs7_emailcoupon>
        </helpers>
        <template>
            <email>
                <vs7_emailcoupon>
                    <label>Coupon Code</label>
                    <file>vs7_emailcoupon/coupon.html</file>
                    <type>html</type>
                </vs7_emailcoupon>
            </email>
        </template>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <vs7_emailcoupon>
                                            <title>Email Coupon</title>
                                        </vs7_emailcoupon>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>